@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #F0F4EF;
  --secondary: #344966;
  --tertiary: #B4CDED;
}
body ::selection {
  background-color: #4d1d85;
  color: aqua;
}

.star {
  position: absolute;
  background: #fff;
  width: 2px;
  height: 2px;
  animation: twinkle 3s infinite;
  opacity: 0;
}

.fallStar {
  position: absolute;
  background: #F0F4EF;
  width: 2px;
  height: 4px;
  animation: fall 10s linear infinite;
  opacity: 0;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
}
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
